.el-button--success {
    background-color: $green;
    border-color: rgb(61, 199, 130);
}

.el-button--primary {
    color: #eef6ee;
    background-color: #476b3b;
    border-color: #476b3b;
    &:hover {
        background: #68875f;
        border-color: #68875f;
        color: #eef6ee;
    }
    &.is-disabled, &.is-disabled:active, &.is-disabled:focus, &.is-disabled:hover {
        color: #eef6ee;
        background-color: #9bb195;
        border-color: #9bb195;
    }
}
