html {
    position: relative; 
    padding: 0; 
    margin: 0; 
    background: url("../assets/img/background/body-bg-02.jpg") repeat scroll 0 0 #ecedef; 
}

.el-dialog__body {
    background: url("../assets/img/background/body-bg-02.jpg") repeat scroll 0 0 #ecedef; 
}

