html {
  position: relative;
  padding: 0;
  margin: 0;
  background: url('../assets/img/background/body-bg-02.jpg') repeat scroll 0 0
    #ecedef;
}

.el-dialog__body {
  background: url('../assets/img/background/body-bg-02.jpg') repeat scroll 0 0
    #ecedef;
}

.el-dialog {
  border-radius: 4px;
}

.el-dialog__header {
  color: #f1f1f1;
  padding: 5px 15px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
  background-color: #3b3e4a;
  background-image: -moz-linear-gradient(top, #464a56, #2b2d38);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#464a56),
    to(#2b2d38)
  );
  background-image: -webkit-linear-gradient(top, #464a56, #2b2d38);
  background-image: -o-linear-gradient(top, #464a56, #2b2d38);
  background-image: linear-gradient(to bottom, #464a56, #2b2d38);
  background-repeat: repeat-x;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #eee;
}

.el-dialog__title {
  font-weight: bold;
  color: #f5f6f9;
  padding: 5px 15px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
  background-color: #3b3e4a;
  background-image: -moz-linear-gradient(top, #464a56, #2b2d38);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#464a56),
    to(#2b2d38)
  );
  background-image: -webkit-linear-gradient(top, #464a56, #2b2d38);
  background-image: -o-linear-gradient(top, #464a56, #2b2d38);
  background-image: linear-gradient(to bottom, #464a56, #2b2d38);
  background-repeat: repeat-x;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

.el-dialog__headerbtn {
  color: #ffffff;
  opacity: 0.6;
  text-shadow: 0 -1px 0 #000000;
  margin-top: -13px;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
}

.el-dialog__body {
  padding: 5px 15px;
}

.el-form-item--medium .el-form-item__content,
.el-form-item--medium .el-form-item__label {
  line-height: 16px;
}
